In [3]:
#TASK1

#string functions,

In [4]:
# 1) capitalize()

a = "hello and welcome to my place"
print(a.capitalize())

Hello and welcome to my place

In [5]:
# 2) casefold()

print(a.casefold())

hello and welcome to my place

In [6]:
# 3) center()
b = "My name is Pavan"
print(a.center(31))
print(b.center(19))

 hello and welcome to my place
  My name is Pavan

In [7]:
# 4) count()

fruit = "I love mango and mangos are sweet so i eat mango"
print(fruit.count("mango"))

3

In [8]:
# 5) endswith()

print(b.endswith("Pavan"))

True

In [9]:
# 6) expandtabs()

t = "h\te\tl\tl\to"
print(t.expandtabs(10))

h         e         l         l         o

In [10]:
# 7)find()

a1 = "welcom to my world"
print(a1.find("y"))

11

In [11]:
# 8) format()

a2 = 12
b2 = 1000
print("for {} Rs i bought {} mangos".format(b2,a2))

for 1000 Rs i bought 12 mangos

In [12]:
# 9) index()

b1 = "i like python"
print(b1.index("p"))

7

In [13]:
# 10) isalnum()

a3 = "pavan1996"
print(a3.isalnum())

True

In [14]:
# 11) isalpha()

a4 = "python"
print(a4.isalpha())

True

In [15]:
# 12) isdecimal()

a5 = "\u0030"
print(a5.isdecimal())

True

In [16]:
# 13) isdigit()

a6 = "1"
print(a6.isdigit())

True

In [17]:
# 14) isidentifier()      identifiers: contains (A-Z) and (0-9) or (_),never starts with numbers and doest contains spaces

a = "world"
b = "pavan1996"
c = "00world"
d = "heelo world"

print(a.isidentifier())  
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [18]:
# 15) islower()

b = "hello"
print(b.islower())

True

In [19]:
# 16) isnumeric()

b1 = "20000"
print(b1.isnumeric())

True

In [20]:
# 17) isprintable()

b2 = "my world"
b3 = "my \nname is pavan"
print(b2.isprintable())
print(b3.isprintable())

True
False

In [21]:
# 18) isspace()

b4 = "      "
b5 = "  s   "
print(b4.isspace())
print(b5.isspace())

True
False

In [22]:
# 19) istitle()

a = "HELLO"
b = "Hello"
c = "1996 Pk"
d = "This Is @!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [23]:
# 20) isupper()
k = "PAVAN"
print(k.isupper())

True

In [24]:
# 21) join()

j = ("john", "raj", "kunal")
print("@".join(j))

john@raj@kunal

In [25]:
mydict = {"happy":"begin","year":"2021"}
print(" new ".join(mydict))

happy new year

In [26]:
# 22) ljust()

l = "mango"
print(l.ljust(20),"is my fav food")

mango                is my fav food

In [27]:
# 23) lstrip()

x1 = "!!,,,,...vvkswww...,mango"

print(x1.lstrip("!,.vvksw"))

mango

In [28]:
# 24) maketranse()

t = "hello jam how are you"
print(t.translate(t.maketrans("jam","sam")))

hello sam how are you

In [29]:
print(t.translate(t.maketrans("mja","eja","oll")))

he jae hw are yu

In [30]:
print(t.maketrans("mja","eja","oll"))

{109: 101, 106: 106, 97: 97, 111: None, 108: None}

In [31]:
# 25) partition()
p1 = "i play cricket everyday"
print(p1.partition("cricket"))
print(p1.partition("foot ball"))

('i play ', 'cricket', ' everyday')
('i play cricket everyday', '', '')

In [32]:
# 26) replace()

p2 = "i like football"
print(p2.replace("football","cricket"))

i like cricket

In [33]:
p3 = "one one apple are good for healt, two two are enough."
print(p3.replace("one","three"))

three three apple are good for healt, two two are enough.

In [34]:
# 27) rfind(),rindex()

p4 = "hello my name is Pavan"
print(p4.rfind("is"))
print(p4.rindex("is"))

14
14

In [35]:
# 28) rjust()

f = "mango"
print(f.rjust(20),"is my favorite fruit" )
print(f.rjust(20,"0"))

               mango is my favorite fruit
000000000000000mango

In [36]:
# 29) rpartition()

f1 = "i love mangos, i have two mangos, one mango is so sweet "
print(f1.rpartition("mangos"))
print(f1.rpartition("apple"))

('i love mangos, i have two ', 'mangos', ', one mango is so sweet ')
('', '', 'i love mangos, i have two mangos, one mango is so sweet ')

In [37]:
# 30) strip() ---removes spaces at beginning and at the end of the string.

f2 = "     apple,banana,mango     "
print(f2.strip(),"are my favorite fruits")

apple,banana,mango are my favorite fruits

In [38]:
f3 =  "     apple   ,   banana   ,   mango     "
print(f3.strip(),"are my favorite fruits")

apple   ,   banana   ,   mango are my favorite fruits

In [39]:
f4 = ",,,..!!mango...,,,??"
print(f4.strip("!,.?"))

mango

In [40]:
# 31) rstrip()

f5 = "    mango    "
print(f5.rstrip(),"is my favorite fruit")

    mango is my favorite fruit

In [41]:
# 32) split()

s = "welcom to, the, world"
print(s.split())
print(s.split(",",1))

['welcom', 'to,', 'the,', 'world']
['welcom to', ' the, world']

In [42]:
# 33) rsplit()

s1 = "apple,banana,mango"
print(s1.rsplit(","))
print(s1.rsplit(",",1))

['apple', 'banana', 'mango']
['apple,banana', 'mango']

In [43]:
# 34) splitlines()

sl = "Thank you\n for the \nmusic\nWelcome to the party"
print(sl.splitlines())
print(sl.splitlines(True))

['Thank you', ' for the ', 'music', 'Welcome to the party']
['Thank you\n', ' for the \n', 'music\n', 'Welcome to the party']

In [44]:
# 35) startwith()

s2 = "python is easy to learn"
print(s2.startswith("python"))
print(s2.startswith("i",7))

True
True

In [45]:
# 36) swapcase()

s3 = " mY name is PAVAN"
print(s3.swapcase())

 My NAME IS pavan

In [46]:
# 37) title()

print(s3.title())

 My Name Is Pavan

In [47]:
s4 = "year b2b2b2 "
print(s4.title())

Year B2B2B2

In [48]:
# 38) zfill()

z = "pavan"
print(z.zfill(10))

00000pavan

In [49]:
# 39) upper()

u = "im happy"
print(u.upper())

IM HAPPY

In [50]:



# List functions __________________________________________________________________________________________________

In [51]:
# 40) append()

l1 = ["joe","sam",200,10.5,]
l1.append("ram")
print(l1)

['joe', 'sam', 200, 10.5, 'ram']

In [52]:
l2 = [200,25,42,87,10,"pavan"]
l1.append(l2)
print(l1)

['joe', 'sam', 200, 10.5, 'ram', [200, 25, 42, 87, 10, 'pavan']]

In [53]:
# 41) clear()

l1.clear()
print(l1)

[]

In [54]:
# 42) copy()

l1.copy()
print(l1)

[]

In [55]:
# 43) count()

print(l1.count("sam"))

0

In [56]:
# 44) extend()

fruits = ["apple","banana","mango","grapes"]
colors = ["red","yellow","orange","green"]
fruits.extend(colors)
print(fruits)

['apple', 'banana', 'mango', 'grapes', 'red', 'yellow', 'orange', 'green']

In [57]:
# 45) index()

print(fruits.index("mango"))

2

In [58]:
# 46) insert()
l3 = [1,2,3,4,5,6]
l3.insert(1,32)
print(l3)

[1, 32, 2, 3, 4, 5, 6]

In [59]:
# 47) pop()

l3.pop(1)
print(l3)

[1, 2, 3, 4, 5, 6]

In [60]:
# 48) remove()

l4 = [1,5,6,78,9,]
l4.remove(78)
print(l4)

[1, 5, 6, 9]

In [61]:
# 49) reverse()
l4.reverse()
print(l4)

[9, 6, 5, 1]

In [62]:
# 50) sort()

l4.sort()
print(l4)

[1, 5, 6, 9]

In [ ]:


# dictionary functions _________________________________________________________________________________________________

In [74]:
# 51) clear()

d1 = {"sam":25,"joe":22,"ronny":24,"lucky":28}
d1.clear()
print(d1)

{}

In [75]:
# 52) copy()

d2 = d1 = {"ram":25,"joe":22,"ronny":24,"lucky":28}
d2.copy()

{'ram': 25, 'joe': 22, 'ronny': 24, 'lucky': 28}

In [80]:
# 53) fromkeys()
d3 = ("key1","key2","key3")
y = 0
print(dict.fromkeys(d3,y))

{'key1': 0, 'key2': 0, 'key3': 0}

In [81]:
print(dict.fromkeys(d3))

{'key1': None, 'key2': None, 'key3': None}

In [82]:
# 54) get()

d4 = {"car":"xuv","bike":"thunder bird","fruit":"mango"}
print(d4.get("fruit"))

mango

In [84]:
# 55) items()

print(d4.items())

dict_items([('car', 'xuv'), ('bike', 'thunder bird'), ('fruit', 'mango')])

In [86]:
# to replace the the value corresponding to the key

d4["car"] = "benz"
print(d4)

{'car': 'benz', 'bike': 'thunder bird', 'fruit': 'mango'}

In [87]:
d4["fruit"] = "orange"
print(d4)

{'car': 'benz', 'bike': 'thunder bird', 'fruit': 'orange'}

In [88]:
# 56) keys()

print(d4.keys())

dict_keys(['car', 'bike', 'fruit'])

In [90]:
# to add new key and value pair

d4["mobile"] = "one+"
print(d4)

{'car': 'benz', 'bike': 'thunder bird', 'fruit': 'orange', 'mobile': 'one+'}

In [91]:
d4["laptop"] = "lenovo"
print(d4)

{'car': 'benz', 'bike': 'thunder bird', 'fruit': 'orange', 'mobile': 'one+', 'laptop': 'lenovo'}

In [97]:
# 57) pop()

d4.pop("bike")
print(d4)

{'car': 'benz', 'mobile': 'one+', 'laptop': 'lenovo'}

In [98]:
# 58) popitem() removes last added item

d4.popitem()
print(d4)

{'car': 'benz', 'mobile': 'one+'}

In [103]:
# 59) setdefault() get value of key 

print(d4.setdefault("car"))

benz

In [104]:
d4.setdefault("color","red") #added new key value
print(d4)

{'car': 'benz', 'mobile': 'one+', 'color': 'red'}

In [105]:
# 60) update()

d4.update({"price":25000})
print(d4)

{'car': 'benz', 'mobile': 'one+', 'color': 'red', 'price': 25000}

In [106]:
# 61) values()

print(d4.values())

dict_values(['benz', 'one+', 'red', 25000])

In [107]:


# Tuple functions ___________________________________________________________________________________________________________

In [110]:
# 62) count()

tup1 = (1,3,5,7,9,11,5,15,17)
print(tup1.count(5))

2

In [111]:
# 63) index()

print(tup1.index(11))

5

In [112]:


# Set functions________________________________________________________________________________________________________________

In [121]:
# 64) add()

set1 = {"joe","sam","son"}
set1.add("ram",)
print(set1)

{'ram', 'sam', 'joe', 'son'}

In [122]:
# 65) clear()
set2 = {1,2,3,4,5,6}
set2.clear()
print(set2)

set()

In [128]:
# 66) copy()

print(set1.copy())

{'ram', 'sam', 'joe', 'son'}

In [134]:
# 67) diffrence()
set1 = {'ram', 'sam', 'joe', 'son'}
set4 = {"samsung","one+","redmi","ram"}
print(set1.difference(set4))
print(set4.difference(set1))

{'joe', 'sam', 'son'}
{'one+', 'samsung', 'redmi'}

In [136]:
# 68) difference_update() removes the item from set 1, which is common in both the sets.
set1.difference_update(set4)
print(set1)

{'son', 'sam', 'joe'}

In [137]:
# 69) discard()---remove element from set

fruits = {"banana","mango","orange","grapes"}
fruits.discard("orange")
print(fruits)

{'grapes', 'mango', 'banana'}

In [141]:
# 70) intersection()

fruits1 = {"banana","mango","orange","grapes"}
fruits2 = {"mango","blueberry","coconut"}
print(fruits1.intersection(fruits2))

{'mango'}

In [144]:
x = {"a","b","c"}
y = {"d","c","e"}
z = {"f","d","g"}

print(x.intersection(y))

{'c'}

In [146]:
# 71) pop()--removes last element in set

fruits1.pop()
print(fruits1)

{'grapes', 'mango', 'banana'}

In [147]:
# 72) remove()

fruits2.remove("blueberry")
print(fruits2)

{'coconut', 'mango'}

In [149]:
# 73) union()

x1 = {100,200,300,400}
y1 = {1,2,3,4,5,6}
print(x1.union(y1))

{1, 2, 3, 100, 4, 5, 6, 200, 300, 400}