**10.1**
Usage of continue.-
The continue keyword is used to end the current iteration in a for loop or a while loop ,and continues to the next iteration.
in the below example when i is 5 it will skip it and continue with next iteration.

In [ ]:
for i in range(11):
  if i == 5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9
10

**Task 10.2 -**
The pass statement is used as a placeholder for future code.When the pass statement is executed, **nothing happens**, but you avoid getting an error when empty code is not allowed.Empty code is not allowed in loops, function definitions, class definitions, or in if statements.

**Task 10.3- a)**
print from 10 to 1.

In [ ]:
a = 10
while a > 0:
  print(a)
  a = a-1

10
9
8
7
6
5
4
3
2
1

b)10.3- b)
using for loop over tuples,sets and dictionaries

* tuples

In [ ]:
tup1 = (1,2,3,"apple","banana")
for x in tup1:
  print(x)

1
2
3
apple
banana

In [ ]:
tup2 = ("apple")
for a in tup2:
  print(a)

a
p
p
l
e

* sets.

In [ ]:
set1 = {1,2,3,4,5,6}
for a1 in set1:
  print(a1)

1
2
3
4
5
6

In [ ]:
set2 = {"apple"}
for a2 in set2:
  print(a2)

apple

* dictionaries

In [ ]:
dict1 = {"game":"cricket","player":"dhoni",}
for a3 in dict1.values():
  print(a3)

cricket
dhoni

In [ ]:
dict1 = {"game":"cricket","player":"dhoni",}
for a3 in dict1.keys():
  print(a3)

game
player