In [1]:
#Task3--create a list of 10 data and access 5th to 8th data,


list1 = [100,200,300,400,500,600,700,800,900,1000]
list1[4:8]

[500, 600, 700, 800]

In [2]:
fruits = ["mango","orange","banana","grapes","blueberry","blackberry","cherry","guava","jackfruit","kiwi"]
len(fruits)

10

In [3]:
fruits[4:8]

['blueberry', 'blackberry', 'cherry', 'guava']

In [4]:



# Task4 ______________________________________________________________________________________________________________________
# a) Add item 70 afetr 60 in the following list.

l1 = [10,20,[30,40,[50,60],80],90,100]
l1[2][2].append(70)
print(l1)

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [6]:
# b) Add sublist [7,8]
# input -l2 = [1,2,[3,4,5,6],9]
#output - [1,2[3,4,5,6,[7,8]],9]


l2 = [1,2,[3,4,5,6,],9]
l2[2].append([7,8])
print(l2)

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

In [13]:




# task5 from the given dictionary do the following tasks
# 1) acces "Mike"   
# 2) access 80
# 3) change "Mike" to "your name"
# 4) add ML=80 and DL=80 inside marks.

In [29]:
dict1 = {"april_batch":{"student":{"name":"Mike","marks":{"python":80,"maths":70}}}}
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [37]:
# 1) Acces "Mike"
dict1["april_batch"]["student"]["name"]

'Mike'

In [38]:
# 2) Access 80
dict1["april_batch"]["student"]["marks"]["python"]

80

In [40]:
# 3) change "Mike" to "your name"
dict1["april_batch"]["student"]["name"] = "Pavan"
print(dict1)

{'april_batch': {'student': {'name': 'Pavan', 'marks': {'python': 80, 'maths': 70}}}}

In [45]:
# 4) add ML=80 and DL=80 inside marks.
dict1["april_batch"]["student"]["marks"].update({"ML":80,"DL":80})

In [46]:
print(dict1)

{'april_batch': {'student': {'name': 'Pavan', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}