##   Task 6 -
 - Add and remove the elements from a tuple.

In [1]:
tup1 = (10,20,30,40,50)

#### Step 1 
convert tuple into list.

In [2]:
# adding data.
l1 = list(tup1)

### step 2
assingn the data

In [3]:
l1.insert(1,15)
l1.insert(3,25)
l1.insert(5,35)
l1.insert(7,45)
l1.insert(9,55)
l1.insert(10,60)
print(l1)

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60]

### step 3
convert list into tuple.

In [4]:
tup2 = tuple(l1)
print(tup2)

(10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60)

In [5]:
type(tup2)

tuple

In [6]:
# Removing data.

### Step 1
convert tuple to list.

In [13]:
l2 = list(tup2)
print(l2)

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60]

### Step 2
Remove data from list.

In [14]:
l2.remove(60)
print(l2)

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55]