In [41]:
import pandas as pd
import numpy as np

In [2]:
#Basic Level
# Apply a Function to a Column
# Create a DataFrame with a column of numbers and use apply to square each number.
# Apply a Function to Multiple Columns
# Create a DataFrame with two numeric columns and use apply to compute their sum row-wise.

In [36]:
#create sample datafarem with 2 columns
data = [[1, 10], [2, 20], [3, 30], [4, 40], [5, 50], [6, 60], [7, 70]]
columns = ['col1', 'col2']

df = pd.DataFrame(data=data, columns=columns)
print(df)

squred_df = df['col1'].apply(lambda X:X**2) #on single column
print("\nsqured_df:\n",squred_df)

   col1  col2
0     1    10
1     2    20
2     3    30
3     4    40
4     5    50
5     6    60
6     7    70

squred_df:
 0     1
1     4
2     9
3    16
4    25
5    36
6    49
Name: col1, dtype: int64

In [46]:
def sum_of_col(df):
    return np.sum(df, axis = 1)

In [47]:
sum_of_col(df)

0    11
1    22
2    33
3    44
4    55
5    66
6    77
dtype: int64

In [56]:
#Create a column with text values and use apply with a lambda function to convert them to uppercase.
df = pd.DataFrame(data = [['a','b'],['c','d']], columns = ['c1','c2'])
new_df = df.apply(lambda x:x.str.upper())
new_df

  c1 c2
0  A  B
1  C  D

In [106]:
#Define a function that categorizes ages into "Child," "Teen," "Adult," and "Senior," then use apply to apply it to an "Age" column.
def categorize_age(age):
    if age < 15:
        return 'Child'
    elif 15 < age < 20:
        return 'Teen'
    elif 20 <= age < 30:
        return 'Adult'
    else:
        return 'Senior'
        

ages = np.arange(5,50,3)
df = pd.DataFrame(ages,columns=['age'])

df['category'] = df['age'].apply(categorize_age)
print(df.sort_values(by='age',ascending = True))

    age category
0     5    Child
1     8    Child
2    11    Child
3    14    Child
4    17     Teen
5    20    Adult
6    23    Adult
7    26    Adult
8    29    Adult
9    32   Senior
10   35   Senior
11   38   Senior
12   41   Senior
13   44   Senior
14   47   Senior

In [112]:
#Create a DataFrame of students' scores and use apply along axis=1 to calculate the total marks for each student.
def total_score(df):
    return np.sum(df)


data = [[95,93,65,76],[92,99,55,70],[35,91,69,78],[75,53,85,77]]
df = pd.DataFrame(data = data, columns = ['maths','science','english','physics'])
df['total'] = df.apply(total_score, axis = 1)
df

   maths  science  english  physics  total
0     95       93       65       76    329
1     92       99       55       70    316
2     35       91       69       78    273
3     75       53       85       77    290

In [138]:
#Write a function that takes additional arguments (e.g., a multiplier) and apply it with apply(args=(x, y)).
# Sample DataFrame
def multiply(value,multplier,addition):
    return value * multplier, value + addition
    
df = pd.DataFrame({'Values': [10, 20, 30, 40]})
# result = df['Values'].apply(multiply,args=(3,3))
df[['mul','add']] = list(df['Values'].apply(multiply,args=(10,20)))
df

   Values  mul  add
0      10  100   30
1      20  200   40
2      30  300   50
3      40  400   60

In [175]:
#pip install swifter -- use for faster pandas operations in .apply